/*body{
	margin: 0;
	padding: 0;

	color: #fff;
	font-family: Arial;
	font-size: 20px;
	/*background: url(Pics//11.jpg) no-repeat center center fixed; 
     background:url('../Pics/11.jpg') no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}*/


header{
	color:rgb(115,115,115);
	font-family: 'Exo', sans-serif;
	font-size: 45px;
	font-weight: 400px;
}
.login{
	position: absolute;
	top: calc(40% - 35px);
	left: calc(51% - 200px);
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 350px;
	height: 50px;
	background: transparent;
	border: 1px solid rgba(100,100,100,0.6);
	border-radius: 2px;
	color: rgb(155,155,155);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=email]{
	width: 350px;
	height: 50px;
	background: transparent;
	border: 1px solid rgba(100,100,100,0.6);
	border-radius: 2px;
	color: rgb(155,155,155);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}



.login input[type=password]{
	width: 350px;
	height: 50px;
	background: transparent;
	border: 1px solid rgba(100,100,100,0.6);
	border-radius: 2px;
	color: rgb(155,155,155);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 360px;
	height: 45px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=submit]{
	width: 360px;
	height: 45px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}


.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(50,50,50,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(50,50,50,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(100,100,100,0.6);
}

::-moz-input-placeholder{
   color: rgba(100,100,100,0.6);
}