@model CMS.Models.AcceptedPapersDashboardModel
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.controller = "dashboard";
    ViewBag.action = "my_events";  
}

@{Html.RenderPartial("~/Views/Shared/partialDashBoard-get.cshtml");}


<div class="col-sm-10 blog-content">

    <div class="col-sm-10 text-left">

        <h1 class="text-center">Accepted Papers</h1>



        @using (Html.BeginForm("AcceptedPapers", "DashBoard", FormMethod.Post, new { @class = "form-horizontal form-margin" }))
        {
            @Html.Raw(ViewBag.Error);

            <div class="form-group">
                <label class="control-label col-md-4">Upload Excel Files of Accepted Papers</label>
                <div class="col-md-4">
                    <input type="file" name="file">

                    <span>Note:File must contain Paper title and Authors. (Author names should be seperated by comma.)</span>

                </div>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Send ">
            </div>




        }




        <h4 class="text-center">@Html.ActionLink("Add Accepted Papers Manually", "Add_AcceptedPapers", new { id = Model.getConference_id() })</h4>






    

</div>
    </div>
    </div>
    </div>

    </div>

