@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error);
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" /></td>
        </tr>
        <tr>
            <td>New Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input type="password" name="confirm" /></td>
            
        </tr>
        <tr>
            <td><input type="submit" value="Change password" /></td>
        </tr>
    </table>
}

