@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error);
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" /></td>
        </tr>
    </table>
}
