@{
    ViewBag.Title = "Conference Management System";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.controller = "home";
    ViewBag.action = "index";
}

<header id="home" class="carousel slide">
    <ul class="cb-slideshow">
        <li>
            <span></span>
        </li>
        <li>
            <span></span>
        </li>
        <li>
            <span></span>
        </li>
        <li>
            <span></span>
        </li>
        <li>
            <span></span>
        </li>
        <li>
            <span></span>
        </li>
    </ul>
</header>